/************/
/** GLOBAL **/
/************/

html {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	overflow: hidden;
}

/* colors themes */
:root,
:root.dark {
	--background-color: #2f353e;
	--secondary-color: #1c2127;

	--clist-color: #3e4956;
	--clist-alt-color: #5b697a;

	--options-bg: #343d4a;

	--text-color: white;
	--text-alt-color: lightgray;
	--text-red: #ff9f9f;
	--text-green: #beffbe;

	--about-bg: #4c4c4c;

	--btn-green: #24bf6f;
	--btn-light-blue: #748aff;
	--btn-purple: #8f45e3;
	--btn-red: #ff4c4c;

	--number: #b7d7ff;
}

:root.light {
	--background-color: #bac9e1;
	--secondary-color: #9eb0cd;

	--clist-color: #617b99;
	--clist-alt-color: #728cab;

	--options-bg: #859dbf;

	--text-color: #1c1c1c;
	--text-alt-color: #ffffff;
	--text-red: #ee4a4a;
	--text-green: #beffbe;

	--about-bg: #4c4c4c;

	--btn-green: #24bf6f;
	--btn-light-blue: #748aff;
	--btn-purple: #8f45e3;
	--btn-red: #ff4c4c;

	--number: #040d0f;
}

/* 1 year text */
@keyframes text1yAnim {
	0% {
		color: white;
		font-size: 0.69em;
	}
	30% {
		color: #ffc9c9;
		font-size: 0.71em;
	}
	100% {
		color: white;
		font-size: 0.69em;
	}
}

.text1y {
	position: absolute;
	color: white;
	bottom: 0;
	right: 0;
	margin-right: 25%;
	font-size: 0.7em;
	animation: 6s text1yAnim infinite;
}

/* main app error text */
#appError {
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	font-size: min(7vw, 3em);
	align-items: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	text-align: center;
}

/* material theme override */
button { transition: 250ms !important }
button:hover { filter: brightness(0.8) }

button:disabled {
	filter: brightness(0.7) !important;
	color: rgba(255, 255, 255, 1) !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	cursor: not-allowed !important;
}

.mdc-checkbox__background { border-color: white !important }
.mdc-form-field { color: var(--text-color); }

.btnSelected {
	background: #d9d9d9 !important;
	color: black !important;
}

/* other overrides */
hr {
	background: var(--text-color);
	border: 0;
	transition: 250ms;
}

img {
	transition: all 0.2s ease 0s;
	height: 70%;
	object-fit: contain;
	pointer-events: none;
}

img#char, img#guessMap { border: solid 1px #ffffff }

/* scroll bar */
::-webkit-scrollbar { width: 7px }
::-webkit-srollbar-track { background: #f1f1f1 }
::-webkit-scrollbar-thumb { background: #888; border-radius: 10px }
::-webkit-scrollbar-thumb:hover { background: #555 }

/* spinner */
#load-spinner, #load-spinner-map {
	z-index: 10;
	position: absolute;
	visibility: hidden;
}

/* shortcut key */
kbd {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 4px;
	padding: 0px 0.4em;
	background-color: var(--background-color);
	font-size: 12px;
	margin-bottom: 5px;
	transition: 250ms;
}

/**************/
/** MAIN APP **/
/**************/

.main {
	width: 100vw;
	height: 100vh;
	background: var(--background-color);
	opacity: 0;
	transition: 500ms;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-blend-mode: overlay;
}

/* global classes */
.pic-title {
	color: var(--text-color);
	font-size: 200%;
	padding: 3%;
	transition: 250ms;
}

.pic {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 40vh;
}

.statNumber { 
	font-weight: 700;
	color: var(--number);
	transition: 250ms;
}

#news, #oldAppUpdates {
	display: flex;
	background-color: var(--secondary-color);
	height: 120px;
	margin-top: 10px;
	border-radius: 4px;
	overflow: hidden;
}

#news {
	height: max-content;
	overflow-y: auto;
}

/* text title */
.optionsCatTitle {
	color: var(--text-color);
	display: block;
	font-size: 25px;
	margin: 10px;
	text-align: center;
	transition: 250ms;
}

/* errors */
.error-text {
	color: white;
	position: absolute;
	width: calc(158px * 0.8);
	text-align: center;
	visibility: hidden;
}

/* app wrapper */
#app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 250ms;
}

.app-disabled {
	pointer-events: none;
	filter: brightness(0.3);
}

/****************/
/** BACKGROUND **/
/****************/

.background, .background-ys, .background-hsr {
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: 250ms;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.background-ys { background-image: url("../img/bg/ys.jpg") }
.background-hsr { background-image: url("../img/bg/hsr.jpg") }

/***********/
/** POPUP **/
/***********/

.popup-wrapper {
	position: absolute;
	z-index: 200;
	background: var(--background-color);
	width: 60%;
	height: 33%;
	border: 1px solid var(--text-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	transition: 250ms;
	transform: scale(1);
	overflow: hidden;
}

.popup-disabled {
	opacity: 0;
	pointer-events: none;
	transform: scale(0.7);
}

.popup-button-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
}

#popup-title {
	font-size: 3.5em;
	position: absolute;
	top: 0;
}

#popup-content {
	width: 100%;
	word-wrap: break-word;
	line-height: normal;
	font-size: 1.7em;
	-webkit-user-select: text;
}

/*************/
/** TOP BAR **/
/*************/

/* bar */
#top-bar {
	width: 100%;
	height: 40px;
	position: fixed;
	top: 0;
	background-color: var(--secondary-color);
	transition: 250ms;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	z-index: 1;
}

#bar-left {
	height: 100%;
	display: flex;
	align-items: center;
	transition: 250ms;
	width: 200px;
	background: var(--secondary-color);
	border-radius: 0 0 10px 0;
}

#bar-middle {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 250ms;
}

#middle-wrapper {
	width: 210px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--secondary-color);
	border-radius: 0 0 10px 10px;
}

#gamemodeWrapper {
	width: 200px;
	height: 30px;
	border-radius: 7px;
	background-color: var(--clist-color);
	display: flex;
	align-items: center;
	transition: 250ms;
}

#gamemodeSelector {
	height: 26px;
	position: absolute;
	width: 96px;
	margin-left: 2px;
	background-color: var(--background-color);
	border-radius: 7px;
	z-index: 2;
	transition: 250ms;
}

#topTextWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 3;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	color: var(--text-color);
}

#topText {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#selectorBg {
	width: 200px;
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}

.selectorBgBtn {
	width: calc(50% - 4px);
	height: calc(100% - 4px);
	background-color: var(--clist-color);
	display: flex;
	border-radius: 7px;
	transition: 250ms;
}

.selectorBgBtn:hover {
	filter: brightness(1.1);
	cursor: pointer;
}

/* background mode */
#bar-back-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 0;
	width: 100%;
}

#back-left {
	background: red;
	height: 100%;
	width: 200px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0 0 10px 0;
	background: var(--secondary-color);
	transition: 250ms;
}

#back-middle-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
}

#back-middle {
	width: 210px;
	height: 100%;
	border-radius: 0 0 10px 10px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-top: 0px;
	background: var(--secondary-color);
	transition: 250ms;
}

/****************/
/** ABOUT MENU **/
/****************/

.left-panel {
	height: 80%;
	z-index: 100;
	width: 35%;
	left: 0;
	margin-left: 5%;
	position: absolute;
	background: var(--secondary-color);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;
	margin-top: 60px;
	border-radius: 15px;
	transform: translateX(-100vw);
	transition: 250ms;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	overflow-y: auto;
}

#left-panel-wrapper {
	height: 100%;
	width: 200%;
	display: flex;
	overflow: hidden;
	transition: 250ms;
}

.aboutContent {
	display: flex;
	padding: 10px;
	border-radius: 10px;
	transition: 0.5s;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	align-content: center;
	height: 95%;
}

.leftPanelSettings {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#left-panel-map {
	width: 100%;
	height: 100%;
}

#left-panel-char {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

/*****************/
/** RIGHT PANEL **/
/*****************/

/* notification bar */
#notificationBar {
	width: 100%;
	height: 60px;
	position: absolute;
	background: #c46666;
	z-index: 10;
	transition: 500ms;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	transform: translateY(-100%);
}

#notifBarText {
	margin-left: 10px;
	font-size: max(1.4vw, 1em);
	margin-right: 10px;
}

#notifBarCloseBtn {
	font-weight: 700;
	background: #c57272;
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
	border: 1px solid white;
	aspect-ratio: 1/1;
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 7px 0px #4f4f4f;
}

#notifBarCloseBtn:hover {
	cursor: pointer;
	filter: brightness(0.9);
}

/* actual area */
.top {
	z-index: 1;
	display: flex;
	background: var(--secondary-color);
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
	width: 90%;
	height: 80%;
	border-radius: 15px;
	flex-direction: column;
	margin-bottom: 50px;
	margin-top: 60px;
	overflow: hidden;
	transition: 250ms;
	position: absolute;
}

#topwrapper {
	width: 100%;
	height: 200%;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	transition: 250ms;
}

/* shared */
.report, .regen, .mapBtn {
	transition: all 0.2s ease 0s;
	width: 100%;
	height: 7vh;
	padding: 1px;
}

/* transition */
.main-panel-moved {
	width: 50%;
	margin-left: 40%;
}

/* options area */
.options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	width: 100%;
	height: 50%;
	flex-direction: column;
	background: var(--clist-color);
	transition: 0.5s;
	z-index: 999;
}

.optionsContent {
	overflow: auto;
	width: 90%;
	height: 90%;
	background: var(--options-bg);
	color: var(--text-color) !important;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	transition: 0.5s;
}

#bottomText {
	width: calc(100% - 10px);
	bottom: 0;
	margin-bottom: 5px;
	color: var(--text-color);
	text-align: center;
}

/* end of options */
#main-wrapper {
	width: 200%;
	height: 50%;
	transition: 250ms;
	display: flex;
}

#main-map, #main-char {
	width: 100%;
	height: 100%;
}

#mcontlistwrap, #mmaplistwrap {
	width: 100%;
	height: 200%;
	display: flex;
	flex-direction: column;
	transition: 250ms;
	transform: translateY(-50%);
}

/* map gamemode */
#mmaplistwrap {
	transform: translateY(0);
}

#map-cont-top-part, #map-cont-bottom-part {
	width: 100%;
	height: 100%;
}

#maptopcontent {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.mapBtn {
	margin: 10px;
}

#genMapBtn {
	background: var(--btn-green);
}

#showMapBtn {
	background: var(--btn-light-blue);
}

/* interactive map */
#map {
	height: 100%;
	background-color: black;
	z-index: 0;
}

#mapButtons {
	position: absolute;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	pointer-events: none;
}

#mapMessageWrapper {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 50%;
	bottom: 0;
	pointer-events: none;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#mapMessage {
	width: max-content;
	height: max-content;
	padding: 5px;
	margin-top: 10px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--background-color);
	color: var(--text-color);
	transition: 250ms;
	transform: translateY(-20vh);
	opacity: 0;
	justify-content: center;
	border: solid 1px #ffffff;
	line-height: normal;
}

/* leaflet override */
.leaflet-control-zoom-out span { margin-right: 2px }
.leaflet-bar { border: 0 !important }

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	background-image: url("/assets/img/zoom-icon.png");
	background-size: cover;
	color: white !important;
	background-color: rgba(0, 0, 0, 0) !important;
	border: 0 !important;
	margin-bottom: 5px;
}

/* chars gamemode */
.characters-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	width: 100%;
	height: 50%;
	flex-direction: column;
	background: var(--clist-color);
	transition: 0.5s;
}

.clist {
	overflow: auto;
	width: 90%;
	background: var(--clist-alt-color);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	transition: 0.5s;
}

.clistWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.clistCharWrapper {
	background: var(--clist-color);
	width: 110px;
	height: 155px;
	border: 1px solid white;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-radius: 7px;
	border: 1px dotted white;
	padding: 3px;
}

.clistCharImg {
	width: 95%;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 10px;
	object-fit: cover;
}

.five-star { background: linear-gradient(345deg, #cda56e, #9b6c6a) }
.four-star { background: linear-gradient(345deg, #5f5e7e, #895acb) }

.clistTextWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30%;
	line-height: 17px;
	justify-content: center;
}

.clistCharText { font-size: 19px }
.clistCharAltText { font-size: 11px; text-align: center }

.selectable {
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/* end of characters list */
.main-content {
	display: flex;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	flex-direction: column;
	transform: translateY(0px);
	transition: 0.5s;
	align-items: center;
	justify-content: space-around;
	align-content: space-around;
}

/* bottom part */
.input-area {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: -10px;
}

.uinput {
	background-color: #46494e;
	border: 0;
	width: min(30vw, 200px);
	height: 4vh;
	border-radius: 6px;
	margin-top: 6px;
	margin-bottom: 16px;
	color: white;
	margin: 5px;
	transition: all 0.2s ease 0s;
	z-index: 10;
}

.uinput-check {
	z-index: 10;
	margin: 5px;
	width: 110px;
	height: 4vh;
	transition: all 0.2s ease 0s;
}

.input-result {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

#result-text {
	position: absolute;
	margin-bottom: 15px;
	font-size: 15px;
	transition: all 0.2s ease 0s;
}

.buttons {
	padding: 20px;
	display: flex;
	justify-content: space-evenly;
	width: auto;
	margin: auto;
	max-width: 500px;
}

#regenBtn {
	background: var(--btn-green);
}

#reportBtnDiv {
	overflow: hidden;
	transition: 250ms;
	width: 100%;
}

#reportBtn {
	background: var(--btn-red);
}

.report {
	margin-left: 1vw;
	width: calc(100% - 1vw);
}

/****************/
/** BOTTOM BAR **/
/****************/

.bottom {
	height: 30px;
	width: 100%;
	background: var(--secondary-color);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-bottom: none;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	transition: 250ms;
	z-index: 10;
}

/* maybe rename */
.left {
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	display: flex;
	align-items: center;
	background: var(--secondary-color);
	transition: 250ms;
	border-radius: 0 10px 0 0;
}

.credits {
	color: var(--text-color);
	font-size: 15px;
}

.bottomLine {
	pointer-events: none;
	width: 100%;
	position: absolute;
	margin-bottom: -120px;
	transition: 250ms;
}

.right {
	height: 30px;
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	width: max-content;
	transition: 250ms;
	align-items: center;
	justify-content: space-evenly;
	width: 230px;
	background: var(--secondary-color);
	border-radius: 10px 0px 0px;
}

#leftPanelSwitch, #showOptions {
	height: 25px;
}

#bottom-back-wrapper {
	width: 100%;
	height: 31px;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	transition: 250ms;
}

#bottom-left {
	height: 100%;
	width: 236px;
	background: var(--secondary-color);
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 0 10px 0 0;
}

#bottom-right {
	height: 100%;
	width: 230px;
	border-top: 1px solid rgba(255, 255, 255, 0.7);
	border-left: 1px solid rgba(255, 255, 255, 0.7);
	background: var(--secondary-color);
	border-radius: 10px 0 0 0;
}

/* transition */
.bottomMovedParent { transform: translateY(100%); }
.bottomMovedChild { transform: translateY(calc(-100% - 1px)); }

/********************/
/*** PHONE SUPPORT **/
/********************/

/* maybe use var for treshold width */
@media (max-width: 800px) {
	.bottomMovedParent { transform: translateY(0); display: flex; justify-content: center; }
	.bottomMovedChild { transform: translateY(0); }
	#bottom-back-wrapper { transform: translateY(100%); }
	.bottom { height: 60px; width: 240px; border-radius: 10px 10px 0 0; }
	.left { margin-bottom: 30px; background: none !important; }
	.right { right: 100% !important; transform: translate(100%, 0) !important; margin-right: 0px !important; width: 240px !important; }
	.bottomLine { margin-bottom: 5px !important; }
	.left-panel { width: 90%; transition: 250ms; height: calc(80% - 30px); margin-bottom: 80px; }
	.main-panel-moved { width: 0 !important; }
	.title { transform: translateY(-100px); }
	.text1y { transform: translateY(-100px); } /* 1 year text */
	.top { height: calc(80% - 30px); margin-bottom: 80px; }
	#bar-left, #back-left { width: 40px !important; }
	button:hover { filter: brightness(1) }
}

/**********/
/** MISC **/
/**********/

#github, #discord, #showCharsBtn, #lang, #showOptions, #leftPanelSwitch, #oldVersionsSwitch {
	background: #303030;
	transition: 0.5s;
	color: white;
}

#news, .credits, #bottomText, #oldAppUpdates {
	transition: 250ms;
}
