html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    --background-color: #2f353e;
    --secondary-color: #1c2127;
    --clist-color: #3e4956;
    --clist-alt-color: #5b697a;
    --options-bg: #343d4a;
}

.mdc-checkbox__background {
    border-color: white !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-srollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    width: 80%;
    height: 70%;
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 50px;
    overflow: hidden;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateY(0px);
    transition: 0.5s;
}

.characters-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateY(-100%);
    height: 0;
    background: var(--clist-color);
    transition: 0.5s;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateY(-100%);
    height: 0;
    background: var(--clist-color);
    transition: 0.5s;
}

.clist {
    overflow: auto;
    width: 90%;
    background: var(--clist-alt-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 0.5s;
    transform: translateY(-100vh);
}

.optionsCatTitle {
    color: white;
    display: block;
    font-size: 25px;
    margin: 10px;
}

.optionsContent {
    overflow: auto;
    width: 90%;
    height: 90%;
    background: var(--options-bg);
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.5s;
    transform: translateY(-100vh);
}

#bottomText {
    width: calc(100% - 10px);
    bottom: 0;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    position: absolute;
}

.pic-title {
    color: white;
    font-size: 6vw;
    padding: 5%;
}

.char-name {
    color: white;
    font-size: 20px;
    padding: 10px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
}

img {
    border-radius: 8px;
    transition: all 0.2s ease 0s;
    height: 70%;
    object-fit: contain;
}

.buttons {
    padding: 20px;
}

.report {
    background: #ff4c4c !important;
    margin-left: 1vw;
}

.regen {
    background: #748aff !important;
    margin-right: 1vw;
}

.report, .regen {
    transition: all 0.2s ease 0s;
    width: min(30vw, 200px);
    height: 7vh;
/*    font-size: 1.5vw;*/
}

.uinput {
    background-color: #46494e;
    border: 0;
    width: min(30vw, 200px);
    height: 4vh;
    border-radius: 6px;
    margin-top: 6px;
    margin-bottom: 16px;
    color: white;
    margin: 5px;
    transition: all 0.2s ease 0s;
    z-index: 10;
}

.input-area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.uinput-check {
    z-index: 10;
    margin: 5px;
    width: 110px;
    height: 4vh;
    transition: all 0.2s ease 0s;
}

.input-result {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#result-text {
    position: absolute;
    margin-bottom: 15px;
    font-size: 15px;
    transition: all 0.2s ease 0s;
}

#popupDialog {
    background: var(--background-color);
}

#load-spinner {
    z-index: 10;
    position: absolute;
    visibility: hidden;
}

.bottom {
    height: 50px;
    width: 100%;
    background: var(--secondary-color);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: 250ms;
}

@media (max-width: 720px) {
    .bottom { height: 100px; }
    .left { margin-bottom: 50px; }
    .right { right: 100% !important; transform: translate(100%, 0) !important; }
    .bottomLine { margin-bottom: 5px !important; }
}

.bottomLine {
    width: 100%;
    position: absolute;
    margin-bottom: -120px;
    transition: 250ms;
}

.credits {
    color: white;
    font-size: 15px;
}

.error-text {
    color: white;
    position: absolute;
    width: 120px;
    text-align: center;
    visibility: hidden;
}

.left {
    padding: 5px;
    transition: 250ms;
}

.right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    padding: 8px;
    transition: 250ms;
}

#github, #discord, #showCharsBtn, #lang, #showOptions {
    background: #303030;
    transition: 0.5s;
    color: white;
}

button:disabled {
    color: rgba(0, 0, 0, 0.38) !important;
}

.btnSelected {
    background: #d9d9d9 !important;
    color: black !important;
}

.title {
    color: white;
    position: absolute;
    top: 0;
    text-decoration: underline;
    text-align: center;
}